body {
    margin: 0;
}
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.logo {
    width: 200px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.title {
    font-size: var(--lg);
    margin-bottom: 24px;
    text-align: center;
    color: var(--very-light-pink);
}
.form {
    display: flex;
    flex-direction: column;
}
.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 54px;
}
.form a:hover {
    color: var(--very-light-pink);
}
.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 18px;
}
input-email {
    margin-bottom: 22px;
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
.primary-button:hover {
    background-color: var(--very-light-pink);
    font-size: var(--lg);
}
.secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
.secondary-button:hover {
    background-color: var(--text-input-field);
    font-size: var(--lg);
}
.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width: 650px) {
    .logo {
        display: block;
    }
    .singup-button {
        position: absolute;
        bottom: 20px;
        width: 300px;
    }
}